<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: hsla(0, 0%, 1%, 0.6);
        max-width: 710px;
        margin: auto;">
<p>
    Hello ${forename}!
</p>
<p>
    Thank you for creating an account on Money Planner
</p>
<p>
    <a href="http://localhost:8080/activate/${authToken}" class="button" style="background-color: #7289da;
        border-radius: 3px;
        color: #fff;
        border: 0;
        bottom: 0;
        box-shadow: none;
        cursor: pointer;
        margin: auto;
        outline: none;
        overflow: hidden;
        display:inline-block;
        width:70%;
        height:100%;
        text-align: center;
        text-transform: none;
        transform: none;
        text-decoration: none;
        align-content: center;
        font-weight: bold;">
        Click here to activate your account
    </a>
</p>
<p>
    <span>Regards, </span>
    <br/>
    <em>Money Planner Team</em>
</p>
</body>
</html>